
body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: rgb(245, 245, 245);
    font-family: 'Google Sans', sans-serif;
}
h1 {
    font-size: 30px;
    margin: 10px;
    color: rgb(82, 144, 82);
}
div { 
    margin: 10px;
}
button {
    margin:10px;
    font-size: 10pt;
    background-color: rgb(82, 144, 82);
    border-radius: 15pt;
    border:none;
    color:white
}
.generi_musicali {
    margin-bottom: 30px;
} 
.accetto {
    font-size: 15px;
}
h4 {
    color:rgb(82, 144, 82);
}