
        @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
        body {
            background-color: rgb(245, 245, 245);
            font-family: 'Google Sans', sans-serif;
            color: #333;
            margin: 20px;
        }
        h1 {
            margin-bottom: -20px;
            font-size: 40pt;
        }
        span {
            color: #b0b7df;
        }
        .foto_profilo {
            margin: -80px 0 10px 1200px;
        }
        img {
            width: 100%;
        }
        a {
            color: black;
        }
        hr {
            border:#b0b7df 1px solid;
        }

